
.add-books__form-wrapper {
    width: 300px;
    margin: 0 auto;
}

.form-selection {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="text"]:focus,
select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

.alert.alert-danger {
    color: #721c24;

    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert.alert-danger ul {
    margin-bottom: 0;
}

.alert.alert-danger li {
    list-style-type: disc;
    margin-left: 2em;
}

